:root {
  --primary-color: #2a9d8f;
  --secondary-color: #425e5e;
  --accent-color: #e76f51;
  --secondary-accent: #f4a261;
  --tertiary-acent: #e9c46a;
  --primary-dark: #2b7a78;
  --primary-light: #def2f1;
  --white: #feffff;
  --primary-text: #333333;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--primary-color);
  height: 100vh;
  text-align: center;
}

.banner-logo {
  width: 150px;
}

.header1 {
  color: var(--primary-text);
}

.subheading {
  color: var(--white);
}
